{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="card" style="max-width: 540px;">
	<div class="row no-gutters">
		<div class="col-md-4">
			<img class="card-img" src="{{restaurant.restaurant_photo}}">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">{{restaurant.name}}</h5>
				<p class="card-text">{{restaurant.description}}</p>
				<p class="card-text"><small class="text-muted">{{restaurant.address}}</small></p>
				<p class="card-text"><small class="text-muted">{{restaurant.phone}}</small></p>
			</div>
		</div>
	</div>
</div>



{% if request.user == restaurant.user %}
<a href="{% url 'restaurant_update' restaurant.id %}" class="btn btn-outline-info" role="button"
	aria-pressed="true">Edit</a>
<a href="{% url 'menu_create' restaurant.id %}" class="btn btn-outline-primary" role="button" aria-pressed="true">Add
	Menu</a>
<!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#restaurant{{restaurant.name}}{{restaurant.id}}"
	class="btn btn-outline-primary" role="button" aria-pressed="true">Add Photo</a>


<!-- Modal -->
<div class="modal fade" id="restaurant{{restaurant.name}}{{restaurant.id}}" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Image Upload</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{% url 'add_restaurant_photo' restaurant.id %}" enctype="multipart/form-data"
					method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label for="exampleFormControlFile1">Choose Image</label>
						<input type="file" class="form-control-file" id="exampleFormControlFile1" name="photo-file">
					</div>
					<!-- </div> -->
					<!-- <div class="modal-footer"> -->
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Upload</button>
				</form>

			</div>
		</div>
	</div>
</div>
{% endif %}

<div>
		<iframe frameborder="0" src="{{map}}q={{restaurant.address}}" allowfullscreen>
			</iframe>
		</div>

<!-- <div class="card" id="card"> -->
<!-- <div class="card-content" id="card-content"> -->
<!-- <div id="content">
			<img class="restaurant-img" id="detail-img" src="{{restaurant.restaurant_photo}}"><br>
			<div id="details">
				<p id="p-title-name"> {{ restaurant.name }}</p>
				<hr>
				<i class="small material-icons">location_on</i><span class="p-details">{{restaurant.address}}</span><br>
				<i class="small material-icons">local_phone</i><span class="p-details">{{restaurant.phone}}</span><br>
				<i class="small material-icons">description</i><span
					id="p-details-desc">{{restaurant.description}}</span>
			</div>
		</div> -->
<!-- <div id="detail-btns">
			{% if request.user == restaurant.user %} -->
<!-- <div class="restaurant-btn">
				<button style="height: 36px;"><a href="{% url 'restaurant_update' restaurant.id %}">Edit</a></button>
				<button data-target="restaurant{{restaurant.name}}{{restaurant.id}}" class="btn modal-trigger"
					style="border: 2px solid white;margin-top:20px;">Add Photo</button>
			</div> -->
<!-- <div id="restaurant{{restaurant.name}}{{restaurant.id}}" class="modal">
				<div class="modal-content">
					<form action="{% url 'add_restaurant_photo' restaurant.id %}" enctype="multipart/form-data"
						method="POST" class="card-content" style="padding:24px 0">
						{% csrf_token %}
						<br><input type="file" name="photo-file"
							style="background: linear-gradient(#0d050e, #8d2d56);color: white">
						<br><br>
						<input type="submit" class="btn" value="Upload Photo"
							style="background: linear-gradient(#0d050e, #8d2d56);border: 2px solid white;">
					</form>
				</div>
				<div class="modal-footer" style="display: flex;background: linear-gradient(#8d2d53, #0d050e)">
					<a href="#!" class="modal-close waves-effect waves-green btn-flat"
						style="justify-self: flex-start">Cancel</a>
				</div>
			</div>
			{% endif %}
		</div> -->
<!-- </div>
</div> -->

<!-- <div> -->

<!-- </div> -->



<!-- <div class="card-content">
	<span class="card-title" style="display: inline-block; color: white">
		<h1 style="color: #d53c3c;text-shadow:2.5px -1.5px black">Menus</h1>
	</span><br>
	{% if request.user == restaurant.user %}
	<button
		style="margin: 0px 10px;background: linear-gradient(#0d050e, #8d2d56); height: 35px; width: 170px;border: 2px solid gray;color: white;text-shadow: .5px -.5px gray;padding: 10px"><a
			href="{% url 'menu_create' restaurant.id %}" style="color: WHITE">Add A Menu</a></button>
	{% endif %}
</div><br> -->


<div class="row">
	{% for menu in menus %}
	<div class="card" style="width: 18rem;">
		<img src="{{menu.menu_photo}}" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title">{{ menu.name }}</h5>
			<p>
				<a href="{% url 'menu_detail' menu.id %}" class="btn btn-primary">Detail</a>
			</p>
			{% if request.user == restaurant.user %}
			<p>
				<a href="{% url 'menu_update' menu.id %}" class="btn btn-outline-info">Edit</a>
				<a href="{% url 'menu_delete' menu.id %}" class="btn btn-outline-danger">Delete</a>
			</p>
			<p>
				<!-- Button trigger modal -->
				<a href="#" class="btn btn-outline-primary" data-toggle="modal"
					data-target="#menu{{menu.name}}{{menu.id}}">Add Photo</a>
				<a href="{% url 'delete_menu_photo' menu.id restaurant.id %}" class="btn btn-outline-danger">Delete
					Photo</a>
			</p>
			<!-- Modal -->
			<div class="modal fade" id="menu{{menu.name}}{{menu.id}}" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalCenterTitle">Menu Image Upload</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form action="{% url 'add_menu_photo' menu.id restaurant.id %}"
								enctype="multipart/form-data" method="POST" class="card-content">
								{% csrf_token %}
								<div class="form-group">
									<label for="menuImage">Choose Image</label>
									<input type="file" class="form-control-file" id="menuImage" name="photo-file">
								</div>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Upload</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>




	<!-- <div class="col s5">
		<div style="border: 4px solid gray">
			<div class="part-two" style="background: linear-gradient(#8d2d56, #0d050e)">
				<div>
					<img class="restaurant-img" src="{{menu.menu_photo}}"><br>
				</div>

				<div class="menu-btn">
					<h4 style="color: white">{{ menu.name }}</h4>
					<button class="btn"><a href="{% url 'menu_detail' menu.id %}">Detail</a></button>

					{% if request.user == restaurant.user %}

					<button data-target="menu{{menu.name}}{{menu.id}}" class="btn modal-trigger">Settings</button>

					<div id="menu{{menu.name}}{{menu.id}}" class="modal">
						<div class="modal-content">
							<button
								style="background: linear-gradient(#0d050e, #8d2d56); height: 35px; width: 170px;border: 2px solid white;color: white;text-shadow: .5px -.5px gray;padding: 10px"><a
									href="{% url 'menu_update' menu.id %}" style="color: white">Edit Menu</a></button>
							<button
								style="background: linear-gradient(#0d050e, #8d2d56); height: 35px; width: 170px;border: 2px solid white;color: white;text-shadow: .5px -.5px black; padding: 10px"><a
									href="{% url 'menu_delete' menu.id %}" style="color: white">Delete Menu</a></button>
							<button
								style="background: linear-gradient(#0d050e, #8d2d56); height: 35px; width: 170px;border: 2px solid white;color: white;text-shadow: .5px -.5px black;padding: 10px"><a
									href="{% url 'delete_menu_photo' menu.id restaurant.id %}"
									style="color: white">Delete
									picture</a></button>
							<form action="{% url 'add_menu_photo' menu.id restaurant.id %}"
								enctype="multipart/form-data" method="POST" class="card-content" style="padding:24px 0">
								{% csrf_token %}
								<br><input type="file" name="photo-file"
									style="background: linear-gradient(#0d050e, #8d2d56);color: white">
								<br><br>
								<input type="submit" class="btn" value="Upload Photo"
									style="background: linear-gradient(#0d050e, #8d2d56);border: 2px solid white;">
							</form>
							<div class="modal-footer">
								<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
							</div>
						</div>
					</div>
					{% endif %}
				</div>

			</div>
		</div>
	</div> -->
	{% endfor %}
</div>




{% endblock %}