{% extends 'main/base.html' %} {% load static %} {% block content %}

<h5>{{restaurant.name}}</h5>
{% if request.user == restaurant.user %}
<a
  href="{% url 'restaurant_update' restaurant.id %}"
  class="btn btn-outline-info"
  role="button"
  aria-pressed="true"
  >Edit</a
>
<a
  href="{% url 'menu_create' restaurant.id %}"
  class="btn btn-outline-primary"
  role="button"
  aria-pressed="true"
  >Add Menu</a
>
<!-- Button trigger modal -->
<a
  href="#"
  data-toggle="modal"
  data-target="#restaurant{{restaurant.name}}{{restaurant.id}}"
  class="btn btn-outline-primary"
  role="button"
  aria-pressed="true"
  >Add Photo</a
>
<!-- Modal -->
<div
  class="modal fade"
  id="restaurant{{restaurant.name}}{{restaurant.id}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Image Upload</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          action="{% url 'add_restaurant_photo' restaurant.id %}"
          enctype="multipart/form-data"
          method="POST"
        >
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleFormControlFile1">Choose Image</label>
            <input
              type="file"
              class="form-control-file"
              id="exampleFormControlFile1"
              name="photo-file"
            />
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Upload</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="res-detail">
  <div>
    <img class="card-img res-img" src="{{restaurant.restaurant_photo}}" />
  </div>
  <div class="res-info">
    <p><span>Address</span> <span>{{restaurant.address}}</span></p>
    <p><span>Phone</span> <span>{{restaurant.phone}}</span></p>
    <p><span>Description</span> {{restaurant.description}}</p>
  </div>
</div>

<div class="res-list">
  <iframe frameborder="0" src="{{map}}q={{restaurant.address}}" allowfullscreen>
  </iframe>
</div>

<div class="res-list">
  {% for menu in menus %}
  <div class="card res" style="width: 18rem; margin: 1rem;">
    <img
      src="{{menu.menu_photo}}"
      class="card-img-top"
      style="max-height: 13rem;"
    />
    <div class="card-body">
      <h5 class="card-title">{{ menu.name }}</h5>
      <p>
        <a href="{% url 'menu_detail' menu.id %}" class="btn btn-primary"
          >Detail</a
        >
      </p>
      {% if request.user == restaurant.user %}
      <p>
        <a href="{% url 'menu_update' menu.id %}" class="btn btn-outline-info"
          >Edit</a
        >
        <a href="{% url 'menu_delete' menu.id %}" class="btn btn-outline-danger"
          >Delete</a
        >
      </p>
      <p>
        <!-- Button trigger modal -->
        <a
          href="#"
          class="btn btn-outline-primary"
          data-toggle="modal"
          data-target="#menu{{menu.name}}{{menu.id}}"
          >Add Photo</a
        >
        <a
          href="{% url 'delete_menu_photo' menu.id restaurant.id %}"
          class="btn btn-outline-danger"
          >Delete Photo</a
        >
      </p>
      <!-- Modal -->
      <div
        class="modal fade"
        id="menu{{menu.name}}{{menu.id}}"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">
                Menu Image Upload
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form
                action="{% url 'add_menu_photo' menu.id restaurant.id %}"
                enctype="multipart/form-data"
                method="POST"
                class="card-content"
              >
                {% csrf_token %}
                <div class="form-group">
                  <label for="menuImage">Choose Image</label>
                  <input
                    type="file"
                    class="form-control-file"
                    id="menuImage"
                    name="photo-file"
                  />
                </div>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Upload</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
