{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<h1 style="color: #d53c3c;text-shadow: 1.5px -.5px gray">Restaurants</h1>

{% for r in restaurants %}
  <a href="{% url 'restaurant_detail' r.id %}" style="text-decoration: none">
  <div class="card"  id="list-card">
        <div class="card-content" id="list-card-content">
          <span class="card-title" style="font-size: 40px"><i>{{ r.name }}</h1></span><hr style="color: white"><br>

    <img class="food-img" src="{{r.restaurant_photo}}"><br>
          </div>
        </a>
      </div>
  </div>
            
{% empty %}
<div class="card">
    <div class="card-content">
      <span class="card-title">No Restaurant Yet!</span>
    </div>
  </a>
</div>
{% endfor %}
<script>  $(document).ready(function(){
    $('.tabs').tabs();
  });</script>

{% endblock %}