{% extends 'main/base.html' %} {% block content %}

<div class="signup">
  {% if error_message %}
  <p class="red-text">
    {{ error_message }}
  </p>
  {% endif %}

  <form method="post" action="{% url 'signup' %}" class="container">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <div class="form-group">
      <label for="inputFirstNmae">First Name</label>
      <input
        type="text"
        class="form-control"
        id="inputFirstNmae"
        placeholder="First Name"
        name="first_name"
      />
    </div>
    <div class="form-group">
      <label for="inputLastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="inputLastName"
        placeholder="Last Name"
        name="last_name"
      />
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        placeholder="Email"
        name="email"
      />
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
</div>
{% endblock %}
