{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasty</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>



</head>

<body style="background-color: rgb(0, 0, 0)">
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper" style="background:linear-gradient(#0d050e, #8d2d56); border-bottom: none">
        <ul>
            <li><a href="{% url 'home' %}" class="left brand-logo" id="brand-logo">&nbsp;&nbsp;<i style="font-size: 55px; color: white;text-shadow: 1.5px -1.5px black">Tasty🔥</i>&nbsp;&nbsp;</a></li>
        </ul>
        <ul class="right">
            <li><a href="{% url 'restaurant_list' %}">Restaurant List</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' user.id %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
        </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer" style="padding: 2px">
        <h4>&nbsp;All Rights Reserved, &copy; 2019 Tasty &nbsp;</h4> 
        
    </footer>
</body>

</html>