{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasty</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">




</head>

<body style="background-color: rgba(0, 0, 0, 0.897)">
    <header >
        <nav>
            <div class="nav-wrapper">
                <a href="{% url 'home' %}" class="brand-logo" id="brand-logo"><i
                        style="color: white;text-shadow: 2.5px -1.5px gray;float: right;font-size: 40px">Tasty🔥</i>&nbsp;&nbsp;</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'restaurant_list' %}">Restaurants</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' user.id %}">{{user.username}}</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="{% url 'restaurant_list' %}">Restaurant List</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' user.id %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
        </ul>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
</body>

</html>