{% extends 'main/base.html' %}
{% block content %}

<div class="row">
	<h1 class="profile-font">@{{ user.username }} Profile</h1>
	<h4 class="profile-font"><span>Email: </span>{{ user.email }}</h4>
	<h4 class="profile-font"><span>First Name: </span>{{ user.first_name }}</h4>
	<h4 class="profile-font"><span>Last Name: </span>{{ user.last_name }}</h4>
	<button
		style="background: linear-gradient(#0d050e, #8d2d56); height: 35px; width: 170px;border: 2px solid white;color: white;text-shadow: .5px -.5px gray;padding: 2px"><a
			href="{% url 'restaurant_create' %}" style="color: white">Add A Restaurant</a></button><br><br>

</div>

<div class="row">
	{% for r in restaurants %}
	<div class="col s6">
		<div class="card horizontal"
			style="background: linear-gradient(#8d2d56, #0d050e);border:3px solid gray;border-radius: 5px;">
			<div>
				<iframe width="200" height="200" frameborder="0" style="border:3px solid gray" src="{{map}}q={{r.address}}" allowfullscreen>
				</iframe>
			</div>
			<div class="card-content">
				<a href="{% url 'restaurant_detail' r.id %}">
					<h4 style="color: rgb(255, 255, 255)"><i>{{ r.name }}</i> </h4>
					<button
					style="margin-top: 10px; background: linear-gradient(#0d050e, #8d2d56); height: 35px; width: 70px;border: 2px solid white;color: white;text-shadow: .5px -.5px gray;padding: 2px"><a
						href="{% url 'restaurant_detail' r.id %}" style="color: white">Detail</a></button>
					<button
						style="background: linear-gradient(#0d050e, #8d2d56); height: 35px; width: 70px;border: 2px solid white;color: white;text-shadow: .5px -.5px gray;padding: 2px"><a
							href="{% url 'restaurant_update' r.id %}" style="color: white">Edit</a></button>
					<button
						style="background: linear-gradient(#0d050e, #8d2d56); height: 35px; width: 70px;border: 2px solid white;color: white;text-shadow: .5px -.5px gray;padding: 2px"><a
							href="{% url 'restaurant_delete' r.id %}" style="color: white">Delete</a></button>
					<br>
				</a>
			</div>
		</div>
	</div>
	{% empty %}
	<h1>No Restaurants yet!!</h1>
	{% endfor %}
</div>

{% endblock %}