{% extends 'main/base.html' %}
{% block content %}

<h1>Profile</h1>

<!-- user info -->
<div>
    {{ user.username }}
</div>

<!-- user restaurants list -->
<button><a href="{% url 'restaurant_create' %}">Add A Restaurant</a></button>

<div>
    {% for r in restaurants %}
    <a href="{% url 'restaurant_detail' r.id %}">
        {{ r.name }} 
        <button><a href="{% url 'restaurant_update' r.id %}">Edit</a></button>
        <button><a href="{% url 'restaurant_delete' r.id %}">Delete</a></button>
        <br>
    </a>
    {% empty %}
        <span>No Restaurants yet!!</span>
    {% endfor %}
</div>
{% endblock %}