h1 {
    font-size: 55px;
    color: white;
}
body {
    color: white;
}
#id_username, #id_password {
    color: white;
}
input, textarea {
    color: white !important;
}

/* profile page */
.profile-font {
    color: white;
}
.profile-font > span {
    color: red;
}