{% extends 'main/base.html' %}

{% load static %}

{% block content %}

<div class="row">
	<h1>Menu: {{ menu.name }}</h1>
	<a class='dropdown-trigger btn' href='#' data-target='dropdown1'
		style="background: linear-gradient(#0d050e, #8d2d56);">Other Menus</a>
	<ul id='dropdown1' class='dropdown-content'>
		{% for menu in menus %}
		<li><a href="{% url 'menu_detail' menu.id %}">{{ menu.name }}</a></li>
		<li class="divider" tabindex="-1"></li>
		{% endfor %}
	</ul>
	<div class="col s4">
		{% if request.user == restaurant.user %}
		<button style="background: linear-gradient(#0d050e, #8d2d56);border: 2px solid white;"><a
				href="{% url 'category_create' menu.id %}" style="color: white">Add Category</a></button>
		{% endif %}
		<ul>
			<div>
				{% for category in menu.category_set.all %}
				<li>
					<div class="col s8">
						<button class="category-btn"><a href="#{{category.name}}"
								style="background: linear-gradient(#0d050e, #8d2d56);">{{category.name}}</a>
						</button>
					</div>
					<div class="col s4">
						{% if request.user == restaurant.user %}
						<a data-target="modal{{category.id}}" class="modal-trigger"
							style="background: linear-gradient(#0d050e, #8d2d56); cursor: pointer;">setting</a>
						<div id="modal{{category.id}}" class="modal"
							style="background: linear-gradient(#0d050e, #8d2d53)">
							<div class="modal-content">
								<h4>Category settings</h4>
								<button
									style="background: linear-gradient(#0d050e, #8d2d56);border: 2px solid white;"><a
										href="{% url 'category_update' category.id menu.id %}" style="color: white">Edit
										Category</a></button>
								<button
									style="background: linear-gradient(#0d050e, #8d2d56);border: 2px solid white;"><a
										href="{% url 'category_delete' category.id menu.id %}"
										style="color: white">Delete
										Category</a></button>
								<button
									style="background: linear-gradient(#0d050e, #8d2d56);border: 2px solid white;"><a
										href="{% url 'food_create' category.id menu.id %}" style="color: white">Add
										Food</a></button>
							</div>
							<div class="modal-footer">
								<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
							</div>
						</div>
						{% endif %}
					</div>
				</li>
				{% endfor %}
		</ul>
	</div>
	<div class="col s8">
		{% for category in menu.category_set.all %}
		<div class="col s12">
			<h2 id="{{category.name}}">{{ category.name }}</h2>
			{% for food in category.food_set.all %}
			<div class="col s4">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="{{food.food_photo}}" style="width: 100px">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">{{food.name}}<i
								class="material-icons right">more_vert</i></span>
						<p class="food-font">$ {{food.price}}</p>
						{% if request.user == restaurant.user %}
						<p><a data-target="modal{{food.id}}" class="modal-trigger food-btn">settings</a></p>
						{% endif %}
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">{{food.name}}<i
								class="material-icons right">close</i></span>
						<p class="food-font">{{food.description}}</p>
					</div>
				</div>
				<div id="modal{{food.id}}" class="modal" style="background: linear-gradient(#0d050e, #8d2d53)">
					<div class="modal-content">
						<button style="background: linear-gradient(#0d050e, #8d2d56);border: 2px solid white;"><a
								href="{% url 'food_update' food.id menu.id %}" style="color: white">Edit
								Food</a></button>
						<button style="background: linear-gradient(#0d050e, #8d2d56);border: 2px solid white;"><a
								href="{% url 'food_delete' food.id menu.id %}" style="color: white">Delete
								Food</a></button><br><br>
						<form action="{% url 'add_food_photo' food.id menu.id %}" enctype="multipart/form-data"
							method="POST" style="padding:24px 0">
							{% csrf_token %}
							<br><input type="file" name="photo-file"
								style="background: linear-gradient(#0d050e, #8d2d56);color: white">
							<br><br>
							<input type="submit" class="btn" value="Upload Photo"
								style="background: linear-gradient(#0d050e, #8d2d56);border: 2px solid white;">
						</form>
					</div>
					<div class="modal-footer">
						<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
					</div>
				</div>
			</div>
			{% empty %}
			{% if request.user == restaurant.user %}
			<button style="background: linear-gradient(#0d050e, #8d2d56);border: 2px solid white;"><a
					href="{% url 'food_create' category.id menu.id %}" style="color: white">Add
					Food</a></button>
			{% endif %}
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</div>

<script>
	$(document).ready(function () {
		$('.modal').modal();
	});
	$('.dropdown-trigger').dropdown();
</script>
{% endblock %}